p{
    background-color: antiquewhite;
    padding: 20px;
    margin: 30px;
}
.blogs{
    margin-left: 50px;
    padding: 20px;
    margin-bottom: 40px;
    margin-right: 50px;
    border: 2px solid aquamarine;
}